@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #151515;
  font-family: "Italiana", serif;
}

h1 {
  font-size: 20em;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  pointer-events: all;

  /* text-decoration: none; */
}

.App-logo {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 30px;
}
